.navBar {
    height: 20vh;
}

.list {
    padding-top: 7vh;
    padding-right: 5vw;
    float: right;
    list-style-type: none;
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
}

li {
    color: blue;
    width: 7vw;
    float: right;
}

h1 {
    text-align: center;
    color: green;
}

h1:hover {
    color: red;
    cursor: pointer;
}

img {
    height: 25vh;
    width: 15vw;
    border-radius: 50%;
}

input {
    height: 5vh;
    width: 15vw;
    margin-left: 5vw;
}

button {
    border-radius: 2.5px;
    height: 5vh;
    width: 10vw;
    margin-left: 10px;
}

button:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: gray;
}